<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cloud Preferences Survey
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cloud Preferences Survey</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="cloudPreferencesForm">
    <ion-item>
      <ion-list>
        <ion-radio-group value="Netural" formControlName="expertise">
          <ion-list-header>
            <ion-label><b>Rate your expertise in using cloud service platforms</b></ion-label>
          </ion-list-header>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>1</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-label>2</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-label>3</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-label>4</ion-label>
                <ion-radio slot="start" value="4"></ion-radio>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-label>5</ion-label>
                <ion-radio slot="start" value="5"></ion-radio>
              </ion-item>
            </ion-col>

          </ion-row>
        </ion-radio-group>
      </ion-list>
    </ion-item>
    <div class="error"
      *ngIf="cloudPreferencesForm.hasError('required', 'expertise') && (cloudPreferencesForm.controls.expertise.dirty || cloudPreferencesForm.controls.expertise.touched)">
      <ion-icon slot="end" name="alert"></ion-icon>
      This field is required
    </div>

    <ion-item>
      <ion-label postition="floating"><b>Rate your <u>performance</u> requirement for the application</b></ion-label>
      <ion-select formControlName="performance">
        <ion-select-option value='Excellent'>Excellent</ion-select-option>
        <ion-select-option value='Above Average'>Above Average</ion-select-option>
        <ion-select-option value='Average'>Average</ion-select-option>
        <ion-select-option value='Below Average'>Below Average</ion-select-option>
        <ion-select-option value='Poor'>Poor</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="error"
      *ngIf="cloudPreferencesForm.hasError('required', 'performance') && (cloudPreferencesForm.controls.performance.dirty || cloudPreferencesForm.controls.performance.touched)">
      <ion-icon slot="end" name="alert"></ion-icon>
      This field is required
    </div>

    <ion-item>
      <ion-label postition="floating"><b>Rate your <u>agility</u> requirement for the application</b></ion-label>
      <ion-select formControlName="agility">
        <ion-select-option value='Excellent'>Excellent</ion-select-option>
        <ion-select-option value='Above Average'>Above Average</ion-select-option>
        <ion-select-option value='Average'>Average</ion-select-option>
        <ion-select-option value='Below Average'>Below Average</ion-select-option>
        <ion-select-option value='Poor'>Poor</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="error"
      *ngIf="cloudPreferencesForm.hasError('required', 'agility') && (cloudPreferencesForm.controls.agility.dirty || cloudPreferencesForm.controls.agility.touched)">
      <ion-icon slot="end" name="alert"></ion-icon>
      This field is required
    </div>

    <ion-item>
      <ion-label postition="floating"><b>Rate your <u>cost</u> requirement for the application</b></ion-label>
      <ion-select formControlName="cost">
        <ion-select-option value='Excellent'>Excellent</ion-select-option>
        <ion-select-option value='Above Average'>Above Average</ion-select-option>
        <ion-select-option value='Average'>Average</ion-select-option>
        <ion-select-option value='Below Average'>Below Average</ion-select-option>
        <ion-select-option value='Poor'>Poor</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="error"
      *ngIf="cloudPreferencesForm.hasError('required', 'cost') && (cloudPreferencesForm.controls.cost.dirty || cloudPreferencesForm.controls.cost.touched)">
      <ion-icon slot="end" name="alert"></ion-icon>
      This field is required
    </div>

    <ion-item>
      <ion-label postition="floating"><b>Rate your <u>security</u> requirement for the application</b></ion-label>
      <ion-select formControlName="security">
        <ion-select-option value='Excellent'>Excellent</ion-select-option>
        <ion-select-option value='Above Average'>Above Average</ion-select-option>
        <ion-select-option value='Average'>Average</ion-select-option>
        <ion-select-option value='Below Average'>Below Average</ion-select-option>
        <ion-select-option value='Poor'>Poor</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="error"
      *ngIf="cloudPreferencesForm.hasError('required', 'security') && (cloudPreferencesForm.controls.security.dirty || cloudPreferencesForm.controls.security.touched)">
      <ion-icon slot="end" name="alert"></ion-icon>
      This field is required
    </div>

  </form>

  <ion-button color="tertiary" [disabled]="!cloudPreferencesForm.valid" expand="full" (click)="submitSurvey()">Submit
  </ion-button>

</ion-content>